head
    title  My App
    link(href='/css/bootstrap.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    script(src='/js/bootstrap.js' type='application/javascript')
// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.static-top(style="background-color: #231F20; height: 18%")
    .container
        div.col-3
            a.navbar-brand
                img.logo(src='/imgs/logo.png' alt='My Logo')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
        div.col3
            p.subTitle
                span(style="color:#D4B474") Harry's
                span(style="color:#231F20") -
                span(style="color:white") Hardware
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto
                if from == 'Home'
                    li.nav-item
                        a.nav-link(aria-current='page' href='/home' style="font-weight: bold") Home
                    li.nav-item
                        a.nav-link(href='/customers') Customers
                    li.nav-item
                        a.nav-link(href='/items') Products
                    li.nav-item
                        a.nav-link(href='/sales') Sales
                else if from == 'Customers'
                    li.nav-item
                        a.nav-link(href='/home') Home
                    li.nav-item
                        a.nav-link(aria-current='page' href='/customers' style="font-weight: bold") Customers
                    li.nav-item
                        a.nav-link(href='/items') Products
                    li.nav-item
                        a.nav-link(href='/sales') Sales
                else if from == 'Products'
                    li.nav-item
                        a.nav-link(href='/home') Home
                    li.nav-item
                        a.nav-link( href='/customers') Customers
                    li.nav-item
                        a.nav-link(aria-current='page' href='/items' style="font-weight: bold") Products
                    li.nav-item
                        a.nav-link(href='/sales') Sales
                else if from == 'Sales'
                    li.nav-item
                        a.nav-link(href='/home') Home
                    li.nav-item
                        a.nav-link( href='/customers') Customers
                    li.nav-item
                        a.nav-link(href='/items') Products
                    li.nav-item
                        a.nav-link(aria-current='page' href='/sales' style="font-weight: bold") Sales
                else
                    li.nav-item
                        a.nav-link(href='/home') Home
                    li.nav-item
                        a.nav-link( href='/customers') Customers
                    li.nav-item
                        a.nav-link(href='/items') Products
                    li.nav-item
                        a.nav-link(href='/sales') Sales
