<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header class="main-header">
  <nav class="main-nav-list">
    <li class="nav-item"><a href="/survey">Survey</a>
    </li>
    <li class="nav-item"><a href="/about">About</a>
    </li>
  </nav>
</header>
<table>
  <tr>
    <td><label for="q1">Are you naturally observant?</label></td>
    <td>
      <select id='q1' name='q1' class="form-control">
        <option value="0" selected="selected">A little</option>
        <option value="1">Sometimes</option>
        <option value="2">As much as possible</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="q2">Do you like to work with puzzles?</label></td>
    <td>
      <select id='q2' name='q2' class="form-control">
        <option value="0" selected="selected">A little</option>
        <option value="1">Sometimes</option>
        <option value="2">As much as possible</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="q3">Is authenticity important to you?</label></td>
    <td>
      <select id='q3' name='q3' class="form-control">
        <option value="0" selected="selected">A little</option>
        <option value="1">Sometimes</option>
        <option value="2">As much as possible</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="q4">Do you use personal values to make decisions?</label></td>
    <td>
      <select id='q4' name='q4' class="form-control">
        <option value="0" selected="selected">A little</option>
        <option value="1">Sometimes</option>
        <option value="2">As much as possible</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="q5">Do you find it easy to trust your gut instinct?</label></td>
    <td>
      <select id='q5' name='q5' class="form-control">
        <option value="0" selected="selected">A little</option>
        <option value="1">Sometimes</option>
        <option value="2">As much as possible</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="q6">Do you know how things work?</label></td>
    <td>
      <select id='q6' name='q6' class="form-control">
        <option value="0" selected="selected">A little</option>
        <option value="1">Sometimes</option>
        <option value="2">As much as possible</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="q7">Are you a good judge of character?</label></td>
    <td>
      <select id='q7' name='q7' class="form-control">
        <option value="0" selected="selected">A little</option>
        <option value="1">Sometimes</option>
        <option value="2">As much as possible</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="q8">Do you think you are naturally curious?</label></td>
    <td>
      <select id='q8' name='q8' class="form-control">
        <option value="0" selected="selected">A little</option>
        <option value="1">Sometimes</option>
        <option value="2">As much as possible</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="q9">Are you naturally observant?</label></td>
    <td>
      <select id='q9' name='q9' class="form-control">
        <option value="0" selected="selected">A little</option>
        <option value="1">Sometimes</option>
        <option value="2">As much as possible</option>
      </select>
    </td>
  </tr>
</table>
</body>
</html>