include ../layouts/mainLayout

.container
    h1.mt-3 Update Customer Information
    div.mt-2
        form(action='/postUpdateCustomer' method='post')
            .form-group
                input.form-control(type='hidden' name='customerId' value= customer.CustomerID )
            .form-group
                label(for='nameId') Name
                input.form-control(type='text' aria-describedby='emailHelp' id='nameId' name='name' value= customer.CustomerName )
            .form-group
                label(for='emailId') Email
                input.form-control(type='text' aria-describedby='emailHelp' id='emailId' name='email' value= customer.CustomerEmail )
            button.btn.btn-dark(type='submit' style="float:left; margin-top: 5px") Update