include ../layouts/mainLayout
.container
    h1.mt-3
    div.mt-3
        h1 Add New Item
    div.mt-2
        form(action='/item' method='post')
            .form-group
                label(for='productId') Product:
                input.form-control(type='text' aria-describedby='emailHelp' id='productId' name='name' placeholder='Enter Product')
            .form-group
                label(for='priceId') Price:
                input.form-control(type='text' aria-describedby='emailHelp' id='priceId' name='price' placeholder='Enter Price')
            button.btn.btn-primary(type='submit' style="float:left; margin-top: 5px") Submit